[Unit]
Description=High-Performance String Search Server
After=network.target

[Service]
Type=simple
User=phines-macharia
Group=phines-macharia
WorkingDirectory=/home/phines-macharia/Projects/portf/algorithmic_S
Environment=PYTHONPATH=/home/phines-macharia/Projects/portf/algorithmic_S
ExecStart=/usr/bin/python3 server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 